extends layout

block content
   
  if (user)
    header
      h1 #{title}
      h1 Welcome, #{user.first_name}

    section#main
      if (posts)
        article#message-board
          ul
            for post in posts 
              li #{post.message}
      
      
      hr
      article#new-message
        form(action='/post', method='POST')
          label(for='message') Make a new post!
          div 
            input(name='message' placeholder='Say something' type='text' required)
            button Submit

  
  else
    section#form-container
      article#form-wrapper
        .title
          span Login Form
        form(action="/log-in" method="POST")
          if error
            p.error!= error
          .row
            i.user
            input(name="username", type="text", placeholder="Username", required)
          .row
            i.lock
            input(name="password", type="password", placeholder="Password", required)
          .row.button
            input(type="submit", value="Login")
          .signup-link
            | Not a member? 
            a(href="/sign-up") Sign up now

  script.
    // JavaScript to scroll to the bottom of the container
    let messageContainer = document.getElementById('message-board');
    messageContainer.scrollTop = messageContainer.scrollHeight
