extends layout

block content
   
  if (user)
    header
      h1 #{title}
      h1 Welcome #{user.first_name}

    section#main
      if (posts)
        article#message-board
          ul
            for post in posts 
              li #{post.message}
      
      
      hr
      article#new-message
        form(action='/post', method='POST')
          label(for='message') Make a new post!
          div 
            input(name='message' placeholder='Say something' type='text' required)
            button Submit

  
  else
    h1 #{title}
    form(action='/log-in' method='POST')
      label(for="username") Username
      input(name='username' placeholder='Username' type='text' required)
      label(for='password') Password 
      input(name='password', type='password' placeholder="Password" required)
      button Log in
  
    hr
    h1 Or sign up instead!
  
    a(href='/sign-up') Sign Up

  script.
    // JavaScript to scroll to the bottom of the container
    let messageContainer = document.getElementById('message-board');
    messageContainer.scrollTop = messageContainer.scrollHeight
