extends layout

block content
  h1 Sign In 

  if (user)
    h1 Welcome #{user.first_name}
  
  form(action='/log-in', method='POST')
    label(for="username") Username
    input(name='username', placeholder='username', type='text')
    label(for='password') Password 
    input(name='password', type='password')
    button Log in
  
  hr
  h1 Or sign up instead!
  
  a(href='/sign-up') Sign Up
