extends layout 

block content 

  h1 Sign Up 

  form(action='/sign-up', method='POST')
    label(for="username") Username
    input(name='username', placeholder=(undefined===username ? 'Username' : username), type='text' required)
    label(for='password') Password 
    input(name='password', type='password' placeholder="Password" required)
    label(for='firstname') First Name 
    input(name='firstname', type='text', placeholder=(firstname===undefined ? "First name" : firstname) required)
    label(for='lastname') Last Name 
    input(name='lastname', type='text', placeholder=(undefined===lastname ? "Last name" : lastname))
    label(for='membership') Membership Status
    select(name='membership')
      option(value='yes') Yes 
      option(value='no') No
    label(for='admin') Admin Status
    select(name='admin')
      option(value='yes') Yes 
      option(value='no') no
    button Sign Up

    if errors
      ul
        for error in errors
          li!= error.msg